body{
    margin: 0; 
}

#container{
    
}

.header{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    background-image:url(/img/background.png);
    height:100vh;
    
}

 
 .image{
    position: absolute;
    top: 27px;
    left: 700px;
    display: block;
    height:701px;
    width:513px;
}

.logo{
    margin: 0;
    position: absolute;
    font-family:  montserrat;
    left: 400px;
    top: 50px;
}

.logo1{ 
    color: inherit;
    font-size: 30px;
    
}

.logo2{ 
    font-size: 30px;
}


.thongtin1{
    position: absolute;
    font-family:  montserrat;
    left: 400px;
    top: 80px;
}

.thongtinn{
    margin: 0;
    position: absolute;
    font-family:  montserrat;
    left: 400px;
    top: 200px;
}

.thongtin3{
    position: absolute;
    font-family:  montserrat;
    left: 400px;
    top: 250px;
}

.thongtin2{
    position: absolute;
    font-family:  montserrat;
    left: 400px;
    top: 350px;
}  

.headerbutton{
    font-size: 19px;
    display: flex;
    font-family:  montserrat;
}

.header_button_signin{
    width: 216px;
    height: 52px;
    background-color: rgb(134, 106, 227);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.header_button_readmore{
    width: 111px;
    height: 49.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2.4px solid rgb(38, 38, 91); 
}

.banner1{
    width: 200px;
    height: 182px;
    
}

.banner2{
    font-size: 52px;
    margin-bottom: 6px;
}

.banner3{
    font-size: 18px;
}
